---
import LatBar from "@/components/LatBar.astro";
import Layout from "@/layouts/Layout.astro";

import Project from "@/components/Project.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title="Projects">
  <LatBar />
  <main>
    <h1>Projects Database</h1>
    <ul class="Projects">
      {
        projects.map(({ data, slug }) => {
          const { title, shortDescription, stack, status } = data;
          return (
            <Project
              slug={slug}
              title={title}
              shortDescription={shortDescription}
              stack={stack}
              status={status}
            />
          );
        })
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 3rem;
    padding: 4rem;
  }
  ul {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 2rem;
  }
</style>
