---
import LatBar from "@/components/LatBar.astro";
import Layout from "@/layouts/Layout.astro";

import { ICONS } from "@/components/icons/Icons.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title="Projects">
  <LatBar />
  <main>
    <h1>Projects Database</h1>
    <ul class="Projects">
      {
        projects.map(({ data, slug }) => {
          const { title, shortDescription, stack } = data;
          return (
            <li>
              <article>
                <header>
                  <a href={`/project/${slug}`}>
                    <h3>{title}</h3>
                  </a>
                  <p>{shortDescription}</p>
                </header>
                <footer>
                  {stack.map((name) => {
                    const Icon = ICONS[name];

                    return Icon ? (
                      <span>
                        <Icon size={14} />
                        {name}
                      </span>
                    ) : (
                      <span>{name}</span>
                    );
                  })}
                </footer>
              </article>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 3rem;
    padding: 4rem;
  }
  ul {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 2rem;
  }
  ul > li {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    box-shadow: inset 0 0 10px 16px rgba(0, 0, 0, 0.01);
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
  }

  article header {
    flex: 1;
  }

  article a {
    color: #111;
  }
  article a:hover {
    text-decoration: underline;
  }
  article p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }
  footer span {
    display: flex;
    gap: 0.2rem;
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
    align-items: center;
    justify-content: center;
  }
</style>
